.footer-main-content {
    width: 98%;

    display: flex;
    margin: auto;
    justify-content: space-between;

    margin: 15px auto;
}


.footer-main-content-flex-items {
    justify-content: space-between;
    width: 100%;
    padding: 0px 5px;
}

.footer-main-content-left{
    display: flex;
}

.footer-main-content-right{
    display: flex;
    justify-content: flex-end;
}

.footer-side-content {
    width: 100%;
}

.footer-side-content div{
    display: block;
    height: 1px;
    width: 98%;
    margin: auto;
    margin-bottom: 5px;
    background-color: black;
}

.footer-side-content p{
    text-align: center;
}

/* Test ------------------------ Media Queries -------------------------------- */

@media (max-width: 1100px) {
    .footer-main-content{
        flex-direction: column;
    }

    .footer-main-content-right{
        flex-direction: column;
    }
}