*{
    text-decoration: none;
}

a:visited{
    color:white;
}

.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    min-width: 300px;   
    max-width: 300px;   
    background-color: #1e2836;
    position: sticky;
    top: 50px;
  }
  
  .sidebarWrapper {
    padding: 20px 10px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    font-size: 1.1rem;
    padding: 10px 5px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgba(240, 240, 255,0.3);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }
  